body {
    font-family: "Helvetica Neue";
}

.mainTitle h1{
    font-family: trench;
    font-size: 100px;
    color:white;
    text-shadow:
    -1px -1px 0 #00b6ff,
    1px -1px 0 #00b6ff,
    -1px 1px 0 #00b6ff,
    1px 1px 0 #00b6ff;
    
}

.brand a {
    text-decoration: none;
    color:#76ddff;
    transition: all 0.3s ease;
}

.brand a:hover {
    color: #c3f0ff;
}

.brand {
    padding-top: 11px;
    color: #76ddff;
}

main h1 {
    font-size:40px;
    margin-bottom:0px;
}

.content-nav {
    width: 100%;
    height: 40px;
    background-color: #009cda;
    border-bottom: 1px solid #0093ce;
    margin-bottom: 40px;
}

footer {
    width: 100%;
    height: 50px;
    background-color: gainsboro;
    border-top: 1px solid #d0d0d0;
}

footer p {
    color: grey;
}

main {
    margin-bottom:50px;
}

#c {
    position:absolute;
}

.container {
    width:960px;
    margin-left:auto;
    margin-right:auto;
}

article {
    text-align:justify;
}

img {
    margin-left:auto;
    margin-right:auto;
    display:block;
    max-width: 65%;
}

.mainContentTitle{
    font-family: trench;
    font-size: 80px;
    color:white;
    text-shadow:
    -1px -1px 0 #00b6ff,
    1px -1px 0 #00b6ff,
    -1px 1px 0 #00b6ff,
    1px 1px 0 #00b6ff;
    
}

.landingLinks{
    font-family: trench;
    text-decoration: none;
    position: absolute;
    font-size: 25px;
    float:left;
    color:white;
    text-shadow:
    -1px -1px 0 #00b6ff,
    1px -1px 0 #00b6ff,
    -1px 1px 0 #00b6ff,
    1px 1px 0 #00b6ff;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    
}

#CNNLink{
    top:20px;
    left:5px;
}

#HMLLink{
    top:100px;
    left:5px;
}
/*body{
    margin-top: -70px;
}*/

body {
    margin:0;
}

.mainTitle{
    top: 5px;
    position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:center;
    opacity:0;
}

#brain{
    margin: auto;
    display: flex;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
}

#brain_pic{
    width: auto;
    height: auto;
    max-width:100%;
    max-height:100%;
    margin: auto;
}

#container{
    position: relative;
    width: 1200px;
margin: 0 auto;
}
 
#lines{
    position: absolute;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
}

.circles{
    width:100px;
    height:auto;
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease;
}

.circles:hover {
    transform: scale(1.3);
}

#circle1{
    float: none;
    top:35px;
    left: 132px;
}

#circle2{
    top:24px;
    left: 830px;
}

#circle3{
    top:163px;
    left:980px;
}

#circle4{
    top:324px;
    left:987px;
}

#circle5{
    top:419px;
    left:691px;
}

#circle6{
    top:324px;
    left:184px;
}

#circle7{
    top:198px;
    left:120px;
}

#test2:hover + #CNNLink{
    visibility:visible;
    opacity: 1;
}

   
   
   
   /*adds the custom font trench*/
@font-face {
font-family: "trench";
src: 
url("fonts/trench100free.otf") format("opentype"),
url("fonts/trench100free.woff") format("woff"),
url("fonts/trench100free.ttf") format("truetype");
    
}
