body {
    font-family: "Helvetica Neue";
}

main h1, main h2, main h3, main h4, main h5, main h6 {
    text-align: left;
}
.mainTitle h1{
    font-family: trench;
    font-size: 100px;
    color:white;
    text-shadow:
    -1px -1px 0 #00b6ff,
    1px -1px 0 #00b6ff,
    -1px 1px 0 #00b6ff,
    1px 1px 0 #00b6ff;
    
}

.face {
    border-radius:360px;
}

.brand a {
    text-decoration: none;
    color:#76ddff;
    transition: all 0.3s ease;
}

.brand a:hover {
    color: #c3f0ff;
}

.brand {
    padding-top: 11px;
    color: #76ddff;
}
#basicContentBody{
    opacity: 1;
    transition: 1s opacity
}

#basicContentBody.fade-out {
    opacity: 0;
    transition: none;
}
main h1 {
    font-size:40px;
    margin-bottom:0px;
}

.content-nav {
    width: 100%;
    height: 40px;
    background-color: #009cda;
    border-bottom: 1px solid #0093ce;
    margin-bottom: 40px;
}

footer {
    width: 100%;
    min-height: 50px;
    background-color: gainsboro;
    border-top: 1px solid #d0d0d0;
    padding-bottom:1px;
}

footer p {
    color: grey;
}

main {
    margin-bottom:50px;
}

#c {
    position:absolute;
}

@media screen and (min-width:960px) {
    .container {
        width:960px;
        margin-left:auto;
        margin-right:auto;
    }
}

@media screen and (max-width:960px) {
    .container {
        padding-left:30px;
        padding-right:30px;
    } 
}

@media screen and (max-width:600px) {
    img {
        width:100% !important;
        max-width:100% !important;
        margin-left:auto;
        margin-right:auto;
    }
}

img {
    max-width:65%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}


article {
    text-align:justify;
}



.mainContentTitle{
    font-family: trench;
    font-size: 80px;
    color:white;
    text-shadow:
    -1px -1px 0 #00b6ff,
    1px -1px 0 #00b6ff,
    -1px 1px 0 #00b6ff,
    1px 1px 0 #00b6ff;
    
}






body {
    margin:0;
}

.mainTitle{
    top: 5px;
    position:relative;
    margin:0 auto;
    clear:left;
    height:auto;
    z-index: 0;
    text-align:center;
    opacity:0;
}

#brain{
    margin: auto;
    display: flex;
    width: 100%;
    height:100%;
    top: 0;
    left: 0;
}

#brain_pic{
    top:100px;
    width: 800px;
    height: 450px;
    opacity: 0;
    margin: auto;
}

#container{
    position: relative;
    width: 1500px;
    margin: 0 auto;
}
 
#lines{
    position: absolute;
    opacity: 0;
     margin: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
}

.circles{
    width:100px;
    height:auto;
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease;
}

.circleHover {
    transform: scale(1.3);
}


.circleClicked {
    z-index: 10000;
    transition-timing-function: ease-out;
    transition: 1.8s;
    transform: scale(115);
}

#circle1{
    float: none;
    top:35px;
    left: 282px;
}

#circle2{
    top:14px;
    left: 1110px;
}

#circle3{
    top:147px;
    left:1170px;
}

#circle4{
    top:255px;
    left:1150px;
}

#circle5{
    top:377px;
    left:1067px;
}

#circle6{
    top:238px;
    left:390px;
}

#circle7{
    top:135px;
    left:300px;
}

#circle8{
    top:360px;
    left:520px;
}

#circle9{
    top:395px;
    left:865px;
}

.landingLinks{
    font-family: trench;
    text-decoration: none;
    position: absolute;
    font-size: 25px;
    float:left;
    opacity: 0;
    color:white;
    text-shadow:
    -1px -1px 0 #00b6ff,
    1px -1px 0 #00b6ff,
    -1px 1px 0 #00b6ff,
    1px 1px 0 #00b6ff;
    transition: all 0.3s ease;
    
}

.landingLinkHover{
     transform: scale(1.05);

}

#CNNLink{
    top:13px;
    left:153px;
}

#AboutUsLink{
    top:248px;
    left:290px;
}

#HMILink{
    top:130px;
    left:1275px;
}

#HMLLink{
    top:0px;
    left:1220px;
}

#INNLink{
    top:240px;
    left: 1258px;
}

#SSLink{
    top:138px;
    left:140px;
}

#TMILink{
    top:370px;
    left:1170px;
}

#AIRLink{
    top:360px;
    left: 390px;
}

#LCLink{
    top:430px;
    left:960px;
}
.links ul {
    list-style-type: none;
    display:inline-block;
    padding:0;
    margin:0;
}
   
.links ul li {
    display:inline-block;
    padding:10px;
}

.links {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top:10px;
}

.links ul a {
    text-decoration: none;
    font-size:20px;

}
.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
.Site-content {
    flex: 1;
}
  
.center h1 {
    text-align: center;
}

a{
  text-decoration: none;
  /*color: #232323;*/
  color:#278bf7;
  transition: color 0.3s ease;
}

   
   /*adds the custom font trench*/
@font-face {
font-family: "trench";
src: 
url("fonts/trench100free.otf") format("opentype"),
url("fonts/trench100free.woff") format("woff"),
url("fonts/trench100free.ttf") format("truetype");
    
}

.caption {
    text-align: center;
    font-style: italic;
}